# Node.js modülleri
node_modules/

# Ortak çıktılar
dist/
dist-ssr/
*.local

# Çevresel değişkenler
.env

# Log dosyaları
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE/editor dosyaları
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Visual Studio projeleri (eğer Windows'ta çalışıyorsan)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
